<ion-view class="frame_look_feel " view-title="{{ category }} " >

  <ion-content> 
    <ion-list>
	<div ng-controller="FoodsCtrl" >																		<!--this div uses the controller FoodsCtrl-->
	
		<div class ="center ">																			<!--creates a div for the  button reset and centres it -->
			<button ng-click="functionReset()" class="button  button-positive ion-power" style="float: right;">			<!--calls the reset function on click which sets the calories to 0-->
			Reset
			</button>
			<br>
			</br>
		</div>
		
        <div class="list card "  ng-repeat="Food in Foods">													<!--creates a list of cards for each of the Food items in the Food array of the controller-->
			<div class="item item-avatar">																	<!--gives each card the ability to have an icon associated with it-->
				<img src ={{Food.imgsrc}}>  																<!--sets the image for each card-->
					{{ Food.title }} , Calories : {{Food.calories}}											<!--prints out the title of the food and its calories for each food item-->
				<br>
				</br>
				<button ng-click="addCalories({{Food.calories}})"   class="button button-small button-balanced ion-plus" >	<!--creates a green button that calls function1 which adds the current calories to the total calories-->
				Click To Add 	
				</button>
			
				<div  style="float:right;">																		<!-- this div will stay to the right of the screen-->
					<i class="icon ion-arrow-down-c"></i>														<!-- adds an arrow that points down-->
					<b>Total Calories:
					
						<input type="number" ng-model="count" style="float: right;"/>							<!--prints out the total calories, (shouldnt be an imput type but could only get it--> 
					</b>																						<!--to work with inputs for some reason)-->
				</div>
			</div>
	    </div>
		
	    
		<div class="center">
			<button ng-click="functionDone(count)" class="button button-positive ion-information-circled" style="float: right;">		<!--calls the function done, which just shows an alert showing the total calories -->
			Done 
			</button>
		</div>	
		</div>
	</div>
    </ion-list>
  </ion-content>
</ion-view>
