<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive">
      <ion-nav-back-button></ion-nav-back-button>

      <ion-nav-buttons side="left">														<!--adds a navigation button to the left-->
        <button class="button button-icon button-clear ion-arrow-swap" menu-toggle="left"></button>	<!--sets the icon for the navigation button-->
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>							<!--puts the name of the view as menu content-->
  </ion-side-menu-content>

  <ion-side-menu side="left">											<!--creates the left side menu-->
    <ion-header-bar class="bar-assertive">								<!--sets the header bar up as a red bar-->
      <h1 class="title">Foods</h1>										<!--Sets the title of the menu-->
    </ion-header-bar>
    <ion-content>
      <ion-list>
       <ion-item ng-repeat="category in categories" nav-clear menu-close ng-href="#/app/Foods/{{categories.indexOf(category)}}">	<!--shows all the categories-->
          <button class="button button-clear button-positive " >{{ category }}</button>						<!-- a button that shows all the foods in the slected category-->
		  <button class="button  button-clear icon ion-arrow-right-c"></button>								<!-- a button that just has an icon, which is an arrow pointing right-->
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
