
.frame_look_feel {
    background-color: lightgrey;
}

button {
    text-align: right;
}

h3 {
text-align: right;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 6%;
    background-color: white;
}